.footer1{
    display: flex;
    justify-content:right;
    
    color: white;
    margin: 0px;
    margin-top: 50px;
    margin-right: 50px;
}

.ubicacion{
    margin-left: 500px;
    margin-top: 20px;
}

.facebook {
    width: 30px;
    height: 30px;
    
}

.instagram {
    width: 30px;
    height: 30px;
}