.grid-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px 30px;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 105px;

}
.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    color: white;
    background-color: black;
    opacity: 0.3;
    border-radius: 15%;
    height: 12vw;
    width: 12vw;
}
.d1{
    @extend .description;
    grid-column: 3/6;
    grid-row: 1/2;
}
.d2{
    @extend .description;
    grid-column: 3/6;
    grid-row:2/2;

}
.d3{
    @extend .description;
    grid-column: 5/6;
    grid-row:1/2;
}
.d4{
    @extend .description;
    grid-column: 5/6;
    grid-row:2/2;
}
.ex-1{
    display: flex;
    width: 12vw;
    height: 12vw;
    grid-column: 2/6;
    grid-row:1/2;
    border-radius: 30%;
}
.ex-2{
    display: flex;
    width: 12vw;
    height: 12vw;
    grid-column: 4/6;
    grid-row:1/2;
    border-radius: 30%;
}
.ex-3{
    display: flex;
    width: 12vw;
    height: 12vw;
    grid-column: 2/6;
    grid-row:2/2;
    border-radius: 30%;
}
.ex-4{
    display: flex;
    width: 12vw;
    height: 12vw;
    grid-column: 4/6;
    grid-row:2/2;
    border-radius: 30%;
}